includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    tmpDir: .cache/phpstan
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
